.card{
    background-color: rgba(250, 248, 245, 0.836);

}
.btn{
    text-align: center;

    align-items: center;
    font-size: x-large;
}
.btn:hover{
    background-color: rgb(218, 183, 27);

}
.row{
    background-image: url('https://wallpapercave.com/wp/wp2722601.png');
}
label{
    color: brown;
}