
    <div class="card" style="width:100%; margin-top:10%">
        <!-- <img class="card-img-top" src="images/contact.jpg" alt="Card image cap" height="500px" width="500px" > -->
        <div class="card-body">
            <div class="accordion" id="accordionExample" >
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                      <button class="btn trial" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <h3 class="text-center">Contact Us</h3>
                      </button>
                    </h5>
                  </div>
              
                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="card-body">
                            Bake House Group <br>Kidangannur<br>
                            Pathanamthitta<br>
                            Kerala, India - 695 033 <br>
                            Phone: +91 468 2286490 <br>
                            Toll free No: 1-800-425-4747  <br>
                            E-mail: abakehouse21@gmail.com<br>
                            </div>
                            
                         
                        </div>
                        <div class="col-sm-8 map">
                            <div>      
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15749.28859347838!2d76.67888391118022!3d9.304696843277625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b063d7f559ff9f9%3A0xa93110f86d8e6acc!2sKidangannoor%2C%20Kerala%20689514!5e0!3m2!1sen!2sin!4v1612705706745!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>  
                            </div>
                        </div>
                    
                    </div>
                  </div>
                </div>
             
                </div>
        </div>
      </div>
